nav{
    position: fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    width: 80px;
    background-color: rgb(255, 255, 255);
}
.nav-bar{
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
   transition: background-colur 0.15s;
}
.nav-bar:hover{
     background-color: rgb(243, 233, 233);
}
nav img{
    height: 24px;
    margin-top: 40px;
    
}
 .subdiv{
    font-size: 10px;
    margin-top: 5pxpx;
}
