.main-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   column-gap: 20px;
   row-gap: 20px;  
}
@media (max-width:750px) {
    .main-div{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width:1360px){
    .main-div{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media (min-width:1361px) {
    .main-div{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}




.thumbnail-image{
    width: 100%;
    margin-bottom: 8px;
     position: relative;
}
.full-box{
    width: 100%;
   
}
.video-time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(34, 33, 33);
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.image-t{
    width: 100%;
    border-radius: 10px;
}
.channal-picture{
    width: 100%;
    border-radius: 20px;
    margin-left: 5px;
}
.youtube-text{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 5px;

}

.all-texts{
    width: 100%;
    margin-left: 10px;
    
}
.channal-content{
    font-weight: bold;
    font-family: Roboto;
    margin: 0;
}
.channal-name{
   
    margin-bottom: 5px;
    margin-top: 2px;
    
}
.channal-views{
 
    margin-top: 2px;
    margin-bottom: 0px;
}